* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
  display: flex;
  flex-direction: column;
  height: 100vh; /* Makes body fill the full screen height */
  overflow: hidden; /* Prevents the whole page from scrolling */
}

/* Navigation */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: linear-gradient(135deg, #ac4edf, #83cae9);
  color: rgb(255, 255, 255);
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.logo {
  font-family: 'Pacifico', cursive;
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 1px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links a:hover {
  color: rgb(117, 38, 195);
}

/* Active link styling */
.nav-links a.active {
  color: rgb(117, 38, 195);
  font-weight: bold;
}



.hidden {
    display: none;
}