* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
  display: flex;
  flex-direction: column;
  height: 100vh; /* Makes body fill the full screen height */
  overflow: hidden; /* Prevents the whole page from scrolling */
  background: #f7c898;
}

/* Navigation */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: linear-gradient(135deg, #924A36, #e16e47);
  color: rgb(255, 255, 255);
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.logo {
  font-family: 'Pacifico', cursive;
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 1px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links a:hover {
  color: #37120a;
}

/* Active link styling */
.nav-links a.active {
  color: #37120a;
  font-weight: bold;
}


.hidden {
    display: none;
}

#lasso-button {
  /*position: sticky;*/
  top: 0;
  left: 0;

  align-self: center; 
  margin: 1rem 1rem 1rem 1.5rem;

  padding: 0.7rem 1.5rem;
  background: linear-gradient(135deg, #e16e47, #924A36);
  color: white;
  border: none;
  border-radius: 25px;
  font-weight: 600;
  cursor: pointer;

  z-index: 20;
}

#lasso-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 12px 25px rgba(146, 74, 54, 0.4);
}

#lasso-button:active {
  transform: translateY(0);
  box-shadow: 0 6px 15px rgba(146, 74, 54, 0.3);
}
